REACT_APP_PEERJS_HOST=0.peerjs.com
REACT_APP_PEERJS_PORT=443
REACT_APP_PEERJS_PATH=/
REACT_APP_PEERJS_SECURE=true
REACT_APP_CLOUDINARY_CLOUD_NAME=
REACT_APP_CLOUDINARY_UPLOAD_PRESET=
REACT_APP_SOCKET_URL=http://localhost:5000
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_VIBETYPE_URL=