ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://192.168.1.5:3000,http://localhost:8081,http://127.0.0.1:8081,http://192.168.1.5:8081
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_UPLOAD_PRESET=
CLOUDINARY_URL=
DATABASE_URL=
DB_REJECT_UNAUTHORIZED=true
DB_USE_SSL=true
JWT_SECRET=
NODE_ENV=development
PORT=5000